@charset "utf-8";
/* CSS Document */

html, body { font-size: 18px; line-height: 140%; }
body { overflow-x: hidden; }
.wrapper { width: auto; margin: 0 auto; }
li, p { word-break: break-all; }
img { margin: 0; padding: 0; height: auto; max-width: 100%; }
input[type="text"] { float: none; border-radius: 0; height: 40px; padding: 0 4px; margin: 5px 0; line-height: 40px; background: url(../images/input_bg.jpg) repeat-x; box-sizing: border-box; }
select { border-radius: 0; height: 40px; padding: 0px; margin: 5px 0; line-height: 40px; width: 32%; vertical-align: middle; box-sizing: border-box; background: url(../images/select_arrow.png) right center no-repeat; background-size: 20px 8px; padding-right: 20px; -webkit-appearance: none; }
textarea { border: 1px solid #ddd; border-radius: 0; height: 40px; padding: 0 4px; margin: 0; box-sizing: border-box; width: 100%; }
input[type="checkbox"] { margin-right: 2px; border: 1px solid #ddd; padding: 3px; vertical-align: middle; }
input[type="radio"] { vertical-align: middle; }
.idset p { color: #970434; }
.code { font-size: 15px; text-align: right; color: #006bd8; background: url(../images/phone/icon-refresh.jpg) 0 center no-repeat; background-image: url(../images/phone/icon-refresh.jpg);  *background-position:0 -5px;
background-size: 20px 20px; float: right; text-indent: 20px; margin-left: 2px; }
.top { display: none; }
.header { display: none; }
/*carry AD*/
#slickbox.ad { margin-top: 0; }
#container.ad { margin-top: 45px; }
.wm-auto { width: 90%; margin: 0 auto; }
.pushy { display: block; }
/*手機側邊選單*/
.m-header { display: block; width: 100%; height: 40px; position: fixed; top: 0; left: 0; z-index: 99; background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(235,235,235,1)); }
.m-header .logo { display: block; width: 160px; height: 40px; margin: 0 auto; background: url(../images/phone/logo_m.png) center center no-repeat; background-size: auto 40px; }
.menu-btn { border-right: 1px solid #bdbbd7; width: 40px; height: 40px; color: none; position: absolute; top: 0; left: 0; cursor: pointer; background: url(../images/phone/menu_icon.png) 0 0 no-repeat; background-size: auto 40px; }
.login-btn { border-left: 1px solid #bdbbd7; width: 40px; height: 40px; color: none; position: absolute; top: 0; right: 0; cursor: pointer; background: url(../images/phone/login_icon.png) 0 0 no-repeat; background-size: auto 40px; }
.logout-btn { border-left: 1px solid #bdbbd7; width: 40px; height: 40px; color: none; position: absolute; top: 0; right: 0; cursor: pointer; background: url(../images/phone/logout_icon.png) 0 0 no-repeat; background-size: auto 40px; }

/*footer*/
.m-none { display: none; }
.m-block { display: block; margin-top: 45px; }
.footer { padding: 0; min-width: 100%; }
.footer .logo { display: none; }
.footer .copybox { padding: 10px 0;}
.footer .copybox p{ text-align: center;}
.footer .copybox p.copyright{ padding-right: 0px; text-align: center; padding-top: 10px; margin-top: 10px; border-top: 1px solid #ccc;}

.footer .f-sharenav { margin-top: 0; width: 300px; }
.footer .f-sharenav.clr { clear: none; }
.footer .f-sharenav li { margin-top: 20px; }
#adbox { display: none; }
/*大圖輪播*/
.slider { width: auto; max-width: 100%; }
#inContainer { padding: 0 15px; margin-bottom: 0px; }
.boxarea { width: 100%; margin: 0 auto 0px auto; }
.box { width: auto; margin: 0 auto 10px; }
#container { margin: 0; padding: 0 15px; margin-top: 45px; }
.contractor.rspage { margin-top: 0; }
/*首頁列表文字*/

.tt { margin-bottom: 10px; text-align: left; }
/*首頁上方區塊*/
.toparea { width: auto; }
.grid li.box_b { float: left; width: 48%; cursor: pointer; }
.box_s { width: 100%; }
.box_s .banner { margin: 0; width: 100%; float: none; clear: both; }
.box_s .banner img { width: 100%; height: auto; }
.grid li:first-child { margin-left: 0; }
.grid li { width: 48%; float: left; margin-left: 0; margin-right: 4%; margin-bottom: 10px; height: auto; position: relative; }
.responsive .slick-prev, .responsive .slick-next { display: none; }
.product { margin-right: -10px; }
.product li { margin-right: 10px; }

.box_s.cardSet .banner { margin: 0; width: 100%; float: none; clear: both; }
.cardSet .grid li.box_b { width: 48%; }
.cardSet .grid li { margin-left: 0; margin-right: 4%; width: 48%; margin-bottom: 10px; height: auto; }

.grid li:nth-child(even) { margin-right: 0; }
.grid li a, .grid li img { outline: none; border: none; display: block; width: 100%; }

/* 卡友好康 */
.breadcrumb {width: auto;}
.indexShare { width: auto; margin: 0;}

.boxLeft { float: none; width: auto; margin-right: 0px;}
.boxRight { float: none; width: auto;}
.linkList { margin-right: -10px; }
.linkList li { margin-right: 11px;}
.viewList { padding: 10px 20px;}
.videoBox { padding: 0px 0;}

.product.cardSet { margin-right: 0px; }
.product.cardSet li { margin-right: 2%; width: 32%; }
.product.cardSet li:last-child { margin-right: 0; }
.product.cardSet img { width: 100%; }


/*填問卷送好禮*/
.prodpic { text-align: center; }
.prodpic li { display: inline-block; width: 100%; margin-right: 0; }
.prodpic li:last-child { margin-right: 0; }
.prodpic li .pic { margin-bottom: 10px; cursor: pointer; }
/*搜尋pop*/
.popup .wbg p { padding: 5px 10px; width: 100%; box-sizing: border-box; }
.popup .wbg select { float: none; width: 100%; }
.popup .btnset { padding: 10px 0; width: 100%; margin: 10px auto; background-color: #f8f8f8; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; display: block; text-align: center; }
.popup .btnset .btn { width: 95px; height: 60px; font: bold 20px/60px "微軟正黑體"; background-color: #ffa109; border-radius: 3px; color: #fff; cursor: pointer; margin: 0 auto; }
.popup .btnset .btn a { width: 95px; height: 30px; color: #fff; display: block; }
.btnset ul { padding: 0 20px; }
.btnset li { width: 40%; height: 60px; font: bold 20px/60px "微軟正黑體"; background-color: #ffa109; color: #fff; border-radius: 3px; margin: 0 5px; cursor: pointer; display: inline-block; text-align: center; vertical-align: middle; }
.btnset li:nth-child(even) { }
.btnset li a { color: #fff; }
.btnset li:hover { color: #970535; }
/*標題的右邊搜尋*/
.tit { text-indent: 15px; padding: 8px 0; margin-bottom: 0; font-size: 18px; font-weight: bold; }
.tit .chooset { /*	display:none;*/
left: 0; top: 48px; width: 300px; font-size: 16px; margin: 0 auto; display: none; }
.tit .chooset li { float: left; text-indent: 0; margin-left: 0px; }
.tit .chooset li select { width: 100px; padding: 0; margin-right: 5px; line-height: 40px; height: 40px; }
.tit .chooset .textin { background-color: #FAFAFA; height: 40px; min-width: 205px; width: 100%; border: 0; border-bottom: 1px solid #DCDCDC; border-radius: 0; max-width: 100%; margin-bottom: 6px; clear: both; }
.tit .chooset .btn { width: 30%; height: 85px; border-radius: 3px; background: url(../images/searchicon.png) center no-repeat; background-size: 20px 20px; background-color: #FE9E0B; position: absolute; top: 0; right: 0; margin-top: 0; }
.tit .chooset .btn a { width: 100%; height: 85px; display: block; }
/*搜尋結果頁籤*/
.order { margin-bottom: 10px; position: relative; text-indent: 0; height: auto; top: 0; text-align: center; }
.order .pages { position: static; margin-bottom: 5px; text-align: center; }
.order .pages li { float: none; display: inline-block; height: 25px; margin-left: 0; line-height: 25px; color: #666; margin-bottom: 5px; }
.order .pages li a { color: #666; display: block; padding: 2px 5px; }
.order .pages li.pre a { width: auto; height: auto; padding: 0; border-radius: 20px; color: #fff; padding: 2px 5px; background-color: #FFA209; }
.order .pages li:hover, .order .pages li.select { border-radius: none; color: #333; background-color: none; background: none; }
.order .pages li:hover a, .order .pages li.select a { color: #fff; }
/*表格*/
.exptab th { background-color: #f8f8f8; width: 6em; }
.ads { display: block; margin: 0 auto 15px; width: 300px; }
.ads img{ display: block; }

/*廣告行銷*/
.s_area { text-align: center; min-height: 170px; }
.s_pic { height: auto; min-height: 1%; margin: 0; margin-bottom: -6px; }
.s_pic img { width: 100%; height: auto; padding: 0; margin: 0; }
.s_titpic { position: absolute; left: 10px; top: -10px; width: 80px; }
.s_menu { padding: 10px 0; background-color: #b8b4b4; text-align: right; position: relative; }
.s_menu a { font-size: 18px; line-height: 24px; display: inline-block; padding: 0 10px; }
.s_menu a:first-child { border-right: 1px solid #333; }
.s_tips { text-align: left; padding: 30px 10px 10px; text-align: justify; }
.s_tips p { color: #666; font-size: 18px; line-height: 140%; }
/*廣告-服務項目*/
.s_center { text-align: center; margin-bottom: 20px; }
.s_center li { display: inline-block; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 0; margin: 0; width: 48%; }
.s_center li.bRn { border-right: none; }
.s_center li:nth-child(even) { border-right: none; }
.s_center li:nth-child(9), .s_center li:nth-child(10) { border-bottom: none; }
.s_center .line { display: none; }
.s_center .up { margin-top: 0; margin-bottom: 10px; }
.cusbox { height: 50px; }
.cusbox img { display: none; }
/*Youtube iframe*/
.video-container { position: relative; padding-bottom: 55.55%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
